.draggable_text {
    border: 1px solid green;
    position: absolute;
    background-color: white;
}

.udklips_container {
    padding: 10px;
}

.txtudsnit {
    padding: 0px 10px 10px 10px;
    /* text-align: center; */
    font-size: 16px;
    /* background-color: rgba(255, 255, 255, .8); */
    margin-bottom: 10px;
    margin-left: -10px;
}

.udklips_ord {
    margin-bottom: 10px;
    white-space: normal !important;
    word-wrap: break-word;
    text-align: left;
    width: 100%;
}

.score_container {
    position: relative;
    top: 30px;
}

.dropzone_skrald {
    width: 100%;
    border: dashed 2px grey;
}

.dropping {
    background-color: #ddd;
}

.btn_transfer {
    z-index: 100;
}

.textHolder {
    min-width: 0px;
    min-height: 300px;
}

.edit_field {
    background-color: rgba(255, 255, 255, .2);
    border: 0px;
    width: 100%
}

.txt_transfer {
    margin-left: 10px;
}

.sucesslabel {
    font-size: 100%;
    padding: 1px 4px 1px 4px;
}

.omtalepapir {
    height: auto;
}

textarea {
    height: 300PX;
    width: 100%;
    border: 0px solid white;
    resize: none;
}

.edit_btn {
    position: absolute;
    font-size: 1.4em;
    right: 8px;
    top: 8px;
    opacity: .5;
    z-index: 5;
    cursor: pointer;
}

.btn {
    position: relative;
    z-index: 4;
}

.inner_container {
    position: relative;
}

.edit_field {
    width: 97%;
}

.deleteCallOut {
    position: absolute;
    top: -43px;
    right: 1px;
    z-index: 100;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
}

.glyphicon-arrow-down {
    color: #56BFC5;
    font-size: 2em;
    position: absolute;
    right: 30px;
    top: -19px;
    z-index: 99;
}

.glyphicon-arrow-left {
    color: white;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}

.udklips_content {
    margin-bottom: 10px;
}

.btn_edit {
    margin-bottom: 25px;
}

.talepapir_header {
    margin-top: 0px;
}

.btn-lg {

    margin-top: 0px;
    margin-bottom: 20px;
}

.btn_feedback{
}

.score_container{
    display:inherit;
}

.score_container .QuestionCounter {
    margin-right: 20px;
    margin-left: 5px;
}

.btn_word {
    margin-top: 60px;
}

.btn_word_fri {
    margin-top: -80px;
}


.right_wrapper{
    margin-bottom: 60px;

}
h4{margin-top:0px }

li{
    margin-bottom: 10px;
}

/******************************/

#copy{
    margin-top: 60px;
}

td{background-color: #acefed; padding: 10px 10px 10px 10px; margin-bottom: 25px}

#wordOutput {padding: 50px;}

#wordOutput body {font-family: arial}

#wordOutput h1 {margin-top: 0px;}

